@import "../../../assets/sass/abstracts/mixin";

.container {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to right, #EF503A, #FFF0E2);
  justify-content: center;
  align-items: center;

  .form_container {
    background: #FFFFFF;
    width: 100%;
    padding: 150px 50px;
    margin: 100px 100px;
    display: flex;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .bg_login {
      flex: 2;
      svg {
        width: 100%;
        height: 500px;
      }
    }

    .form {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-radius: 16px;
      padding: 0 20px;

      .titleLogin {
        font-size: 56px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 50px;
      }
    }
  }

}